body  {
		background-image: url("../img/fundo2.jpg");
		background-repeat: round;
		background-attachment: fixed;
		background-size: 100%;
		font-size: 14px;
		
	}

.container{
		margin-top: 25%;
		width: 90%;
		margin-right:auto; 
		margin-left:auto;
		position: relative;


}
.containerjv{
		margin-top: 2%;
		width: 90%;
		margin-right:auto; 
		margin-left:auto;
		position: relative;
}

html{
	scroll-behavior: smooth;

}

header{ 
		background-color: rgba(189,196,250);
		padding: 0.7%;
		margin-bottom: 2%;
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		font-size: 1.5em;
		line-height: 1.5;
		
}
footer{
		background-color: rgba(189,196,250);
		padding: 0.7%;
		margin-top: 2%;
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		font-size: 1.5em;
		line-height: 1.5; 
}
.hfixo{
position: fixed;
top: 0;
right: 0;
left: 0;
z-index: 1030;


}
.rodape{
	padding: 2.0%;
	background-color: rgba(189,196,250,0.5);
	margin-top: 2%;
}

 h1,h4 {color:white; text-align: center; font-size: 25px; font-weight: bold;}
 
 h3	   {color:#BDC4FA;text-align: center; text-shadow: 1px 1px #5F9EA0; text-decoration: overline; font-size:20px;}
 
 h2    {color: black; background-color: #BDC4FA; text-align: center;border-bottom:5px solid #254258; font-size: 20px; }
 h1,h2,h3{
 	margin-top: 2%; 
 	margin-bottom: 2%;

}

a{ 
	color:#fff;
	text-decoration: none;
	text-shadow: 1px 1px #5F9EA0; 

 }

 a:hover{
 	font-weight: bold;
	color:#4682B4; 
	text-decoration: none; 


 }
a.two{ 
	color:#fff;
	text-decoration: none;
}

a.two:hover{
	font-size:21px;
	color:#4682B4; 
	text-decoration: none; 

}
 p{
	color: #fff; text-align: center; font-size:16px;
	margin-top: 0,5%; margin-bottom: 0.5%;
}

ul li,ol li{
	color: #fff;font-size:17px;
	margin-top: 0.1%; margin-bottom: 0.1%;
}

.imgtexto { 
	 display: block;
	 margin-left: auto;
	 margin-right: auto;
	 text-align: center; 
	 background-attachment: fixed;
	 margin-top: 2%; margin-bottom: 2%;

} 



table {
	color:white;
	font-weight: bold;
	width: 100%; 
	border-collapse: collapse;
	 margin-top: 2%; margin-bottom: 2%; 
}

th:hover { font-size:20px;
 }

.tt{
	 border: 2px solid #778899;
	 text-align: center;
	 padding: 8px;
	 color:#254258;
	 background-color: white;
	 margin-right: 3px;
	 margin-left: 3px;

}
 td{
  border: 2px solid #778899;
  text-align: center;
  padding: 8px;
  color: black; 
  background-color:#778899;
  margin-right: 3px;
  margin-left: 3px; 
  }
  .meio{
	 border: 2px solid #778899;
	 text-align: center;
	 padding: 8px;
	 color: black; 
	 background-color: white;
	 margin-right: 3px;
	 margin-left: 3px;
	  }
  th {
  border: 2px solid #778899;
  text-align: center;
  padding: 8px;
  color: black; 
  background-color:#778899;
  margin-right: 3px;
  margin-left: 3px;
  }
.pag{
	color:#4682B4;
	text-decoration: none;
}
.pag:hover{
	font-size:21px;

}
  .centro{
  	color: white;
  	font-weight: bold;
  	font-size: 25px;
  	


  }
 
 .anco{
 	color: white;
 	font-size: 20px;
 	text-align: right;
 	font-weight: bold;
 	text-decoration: none;

 }
 @media screen and (min-width: 600px){

}
